@import '../utilities/variables.scss';
@import '../utilities/layout.scss';

body {
  position: relative;
}

.nav-close {
  overflow-y: scroll;
}

.nav-open {
  overflow-y: hidden;
}

aside {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: $off-white 0px 3px 6px;
}

.nav-container {
  position: relative;
  margin: 0;
  padding: .7rem 1.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 30%;
    margin: 0;
    display: block;
    width: 100%;
  }

  .menu {
    color: $orange;
    font-family: $serif;
    font-weight: $font-bold;
    margin: 0 2rem 0 0;
    position: relative;
    cursor: pointer;

    span {
      @include nav-burger(-2rem, 6px, 15px);
      margin: 0 0 0 0.5rem;

      &::before, &::after {
      @include nav-burger(0rem, -7px, 20px);
        content: "";
      }

      &::after {
        top: 6px;
      }
    }
  }
}

nav {
  background: $gold;
  display: flex;
  flex-flow: column;
  font-family: $sans;
  padding: 1.5rem 2rem 3rem 1.5rem;
  position: absolute;
  top: 0;
  right: -100vw;
  text-align: right;
  height: 100vh;
  transition: .5s right ease-in-out;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-weight: $font-bold;
    font-size: $nav-heading;
    margin: 0 0 1.5rem;
  }

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  .subnav {
    margin: 0 0 2rem;

    li {
      font-size: $nav-project;
      font-weight: normal;
      margin: 0 0 1rem 1rem;
    }
  }

  .main-nav {
    margin: 2rem 0 0;
  }

  .social-icons {
    position: absolute;
    bottom: 15vh;
    display: flex;
    justify-content: flex-end;
    width: min(80%, 30rem);
    gap: 1rem;
  }
}

.close {
  cursor: pointer;
  font-family: $serif;
  font-weight: $font-bold;
  display: flex;
  align-items: center;
  justify-content: right;

  span {
    display: inline-block;
    margin: 0 0 0 0.75rem;
    color: $off-white;
    font-size: 2.5em;
    font-weight: $font-normal;
    line-height: 0.5;
  }
}