html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.nav-close {
  overflow-y: scroll;
}

.nav-open {
  overflow-y: hidden;
}

aside {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: #E7E5EA 0px 3px 6px;
  z-index: 100;
}
@media (min-width: 769px) {
  aside {
    width: 320px;
    height: 100vh;
    max-height: 100%;
  }
}

.nav-container {
  position: relative;
  margin: 0;
  padding: 0.7rem 1.5rem;
}
@media (min-width: 769px) {
  .nav-container {
    padding: 5rem 1.5rem 1rem;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper img {
  max-width: 30px;
  margin: 0;
  display: block;
  width: 100%;
}
@media (min-width: 769px) {
  .logo-wrapper img {
    margin: 0 0 0 1rem;
    max-width: 120px;
  }
}
.logo-wrapper .menu {
  color: #D75A28;
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  padding: 0 2rem 0 0;
  position: relative;
  cursor: pointer;
  padding-block: 0;
  border: 0;
  background: white;
}
@media (min-width: 769px) {
  .logo-wrapper .menu {
    display: none;
  }
}
.logo-wrapper .menu span {
  position: absolute;
  border-top: 1.5px solid #D75A28;
  right: 0;
  top: 6px;
  width: 15px;
  cursor: pointer;
  margin: 0 0 0 0.5rem;
}
.logo-wrapper .menu span::before, .logo-wrapper .menu span::after {
  position: absolute;
  border-top: 1.5px solid #D75A28;
  right: 0;
  top: -7px;
  width: 20px;
  cursor: pointer;
  content: "";
}
.logo-wrapper .menu span::after {
  top: 6px;
}

nav {
  background: #F0AE46;
  display: flex;
  flex-flow: column;
  font-family: "Work Sans", sans-serif;
  padding: 1.5rem 2rem 3rem 1.5rem;
  position: absolute;
  top: 0;
  right: -100vw;
  text-align: right;
  height: 100vh;
  transition: 0.5s right ease-in-out;
  z-index: 100;
}
@media (min-width: 769px) {
  nav {
    right: 0;
    position: relative;
    background: white;
    text-align: left;
    padding: 1rem;
  }
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  font-weight: bold;
  font-size: 1.56em;
  margin: 0 0 1.5rem;
}
nav a {
  color: #3B3F61;
  text-decoration: none;
}
nav .main-nav {
  margin: 2rem 0 0;
}
nav .subnav {
  margin: 0 0 2rem;
}
nav .subnav li {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 1rem 1rem;
}
nav .social-icons {
  position: absolute;
  bottom: 15vh;
  display: flex;
  justify-content: flex-end;
  width: min(80%, 30rem);
  gap: 1rem;
}
@media (min-width: 769px) {
  nav .social-icons {
    bottom: 25vh;
    justify-content: flex-start;
    width: 0;
  }
}

.close {
  cursor: pointer;
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-block: 0;
  background: initial;
  border: 0;
  padding-inline: 0;
}
@media (min-width: 769px) {
  .close {
    display: none;
  }
}
.close span {
  display: inline-block;
  margin: 0 0 0 0.75rem;
  color: #E7E5EA;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 0.5;
}

footer {
  background: #F0AE46;
  padding: 0.5rem 0.5rem;
  font-size: 0.75em;
}
footer p {
  margin: 0;
}/*# sourceMappingURL=navigation.css.map */