@import 'main.scss';

.contact {
  width: 100%;
  margin: 1rem auto 3rem;

  .table {
    margin: 3rem 0 0 auto;

    width: 80%;
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;

  input[type=text],
  input[type=email],
  textarea {
    border: 1px solid $orange;
    color: $gray;
    font: 1rem/1 $font-serif;
    margin: 0 auto 1rem;
    padding: .5rem;
    width: 100%;
  }

  input[type=submit] {
    background: $gray;
    border: 0;
    color: white;
    cursor: pointer;
    display: block;
    font: 1rem/1 $font-sans;
    margin: 0 0 0 auto;
    padding: .5rem 1rem;
    text-transform: uppercase;
    transition: .2s ease-in-out;
  }

  .error-msg {
    color: #e42b11;
    display: none;
    font: italic 400 85%/1 $font-serif;
    margin: 0.5rem 0 1rem;
    transition: .5s ease-in-out;
  }
}