@import '../nav/navigation.scss';

main {
  margin: calc(2rem + 55px) 0 0 0;

  @include media(md) {
    margin: 5rem 0 0 42vw;
  }

  @include media(lg) {
    margin: 5rem 0 0 35vw;
  }

  @include media(xl) {
    margin: 5rem 0 0 30vw;
  }
}

header {
  padding: 0 1rem;
}

section {
  padding: 0 1rem;
  margin: 0 0 3rem;
}

p,
strong {
  font-family: $sans;
}

.heading {
  &-lockup {
    span {
      font-family: $sans;
      font-weight: $font-bold;
      color: $dark-blue;
      text-transform: uppercase;
    }

    h1,
    h3 {
      color: $orange;
      font-family: $serif;
      font-size: $heading-title;
      margin: .5rem 0;
    }
  }
}

.projects {
  display: flex;
  overflow: scroll;
  margin: 2rem 0 2rem 1rem;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 0 0 1.5rem;

  @include media(xl) {
    flex-flow: column wrap;
    margin: 2rem;
    gap: 7rem;
    padding: 0;
  }
}

.project {
  flex: 1 0 auto;
  scroll-snap-align: start;

  &.ds {
    .img-container {
      background-image: url("../../../2024/images/hp-dsbg-m.png");
      @include hp-bg-images;

      @include media(xl) {
        background-image: url("../../../2024/images/hp-dsbg-d.png");
      }
    }
  }

  &.tec {
    .img-container {
      background-image: url("../../../2024/images/hp-tecbg-m.png");
      @include hp-bg-images;

      @include media(xl) {
        background-image: url("../../../2024/images/hp-tecbg-d.png");
      }
    }
  }

  &.ar {
    .img-container {
      background-image: url("../../../2024/images/hp-reportbg-m.png");
      @include hp-bg-images;

      @include media(xl) {
        background-image: url("../../../2024/images/hp-reportbg-d.png");
      }

    }
  }

  &.gigi {
    .img-container {
      background-image: url("../../../2024/images/hp-gigibg-m.png");
      @include hp-bg-images;

      @include media(xl) {
        background-image: url("../../../2024/images/hp-gigibg-d.png");
      }
    }
  }

  .img-container {
    padding: 1rem 1rem 0;

    img {
      width: 100%;
      margin: 0 auto;
      display: block;
      max-width: fit-content;
    }
  }

  .text-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    h2 {
      color: $black;
      justify-content: center;
      font-family: $sans;
      font-size: $nav-heading;
      font-weight: $font-bold;
      margin: 1rem auto 2rem;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        border-bottom: 5px solid orange;
        bottom: -5px;
        left: 0;
      }
    }

    p {
      margin: 0 .75rem .75rem 0;
      text-align: right;
      font-family: $sans;
    }
  }
}

.about {
  background: $gold;
  position: relative;
  z-index: 10;

  &::before {
    @include media(md) {
      content: "";
      background: #F0AE46;
      width: 100%;
      height: 100%;
      left: -95%;
      top: 0;
      display: block;
      position: absolute;
      z-index: -1;
    }
  }

  &-wrapper {
    padding: 2rem 1rem;

    @include media(sm) {
      display: flex;
      gap: 1rem;
    }

    .img-container {
      margin: 2rem auto 3rem;

      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
      }
    }

    .about-me {
      @include media(sm) {
        flex: 1 0 45%;
      }
    }
  }

  .about-copy {
    h3 {
      color: $dark-blue;
    }
  }
}