// Colors
$gold: #F0AE46;
$off-white: #E7E5EA;
$black: #272626;
$dark-blue: #3B3F61;
$orange: #D75A28;

// Fonts
$sans: 'Work Sans', sans-serif;
$headline-title: 'Zilla Slab', serif;

// Weights
$font-bold: bold;

// Sizes
$nav-heading: 1.56rem;
$nav-project: 1.25rem;

// Mixins

// Breakpoints