// Colors
$gold: #F0AE46;
$off-white: #E7E5EA;
$black: #272626;
$dark-blue: #3B3F61;
$orange: #D75A28;
$white: #FFFFFF;

// Fonts
$sans: 'Work Sans', sans-serif;
$serif: 'Hepta Slab', serif;

// Weights
$font-bold: bold;
$font-normal: normal;
$font-light: lighter;

// Sizes
$nav-heading: 1.56rem;
$nav-project: 1.25rem;

// Mixins
@mixin nav-burger($right, $top, $width) {
  position: absolute;
  border-top: 1.5px solid $orange;
  right: $right;
  top: $top;
  width: $width;
}

// Breakpoints